* {
    border: pink
}
.photo-page {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;  
   
}

.container-page {
    margin-top: 60px
}

.navBar {
    // box-shadow: 4px 0px 12px 6px #00000033;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    position: fixed;
    width: 440px;
    align-items: center;
    h6 {
        text-transform: capitalize;
    }
}

.tabsContainer {
    display: flex;
    justify-content: space-between;

}
.tabItem {
    color: #222222;
}

//DAYSPHOTOS
.containerDaysPhotos {
  h6 {
    padding: 4px 12px 
  }
}
.containerGridPhotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3px
}
.photo {
    aspect-ratio: 1/1;
   
    border: 0.5px white solid;
    object-fit: cover;
    width: 108px;
    background-image: url(../../../../public/img/asset/photos/placeholder.jpg);
    background-size: 180px 108px;
    img {
       
    }
}

.divider {
    border-top: solid 1px rgb(211, 211, 211);
    margin: 18px 12px 
}
//ALBUM
.mainAlbumsContainer {
    padding: 28px 12px 4px;
}
.albumsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.6rem;
    padding: 4px 12px;
}
.album {
    display: flex;
    flex-direction: column;
    align-items: start;

    h5{ 
        font-size: 1.4rem;
        text-align: start;
    }
    .albumName {
        word-break: break-all
    }
    p {
        color: rgb(137, 137, 137);
        font-weight: 300
    }

}
.photoAlbum {
    border-radius: 6px;
}
.albumTitle {
    text-transform: capitalize;
}
//SINGLE PHOTO VIEW
.singlePhotoView {
    background: black; 
    height: 100%; 
    position: fixed;
    top: 0px; 
    left: 0px;
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.photoSingle {
    width: 440px;
    height: 100%;
    object-fit: contain;

}
.titlePhotoSingle {
    color: white;
    padding-left: 1rem;
    text-transform: capitalize;
    .date {
        margin-top: 4px;
        font-size: 22px
    }
    .location {
        font-weight: 400
    }
}
.display-none {
    display: none
}
.backIcon {
    cursor: pointer;
}
.backIconSingle {
    cursor: pointer;
    color: white;
    padding: 1rem 0 1rem 1rem
}
.btnGroupSinglePhoto {
    position: absolute;
    bottom: 0;
    background: black;
    display: flex;
    width: 100%;
    padding: 2rem;
    z-index: 999;
    justify-content: space-between;
    transition: all 300ms ease-in-out;
}
.btnGroupSinglePhotoHidden {
    position: absolute;
    bottom: 0;
    background: black;
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
    transform: translate(0px, 80px);
    transition: all 300ms ease-in-out;
}
.btn-icon-single-photo {
    color: lightgrey;
}

// PHOTOMENU
.photoMenu {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    transition: all 300ms ease-in-out;
    background: black;
    width: 100%;
    padding-bottom: 8px;
    h6 {
        color:white;
    }
}
.photoMenuHidden {
    position: absolute;
    z-index: 999;
    top: 0;
    transform: translate(0px,-60px);
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;
    h6 {
        color:white;
    }
}
.swiper-slide {
    display: flex;
    align-items: center;
    height: 100vh;
}